.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

.navBar {
  margin-bottom: 50px;
}

.homeBtn {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 30px;
}

.infoBtn {
  color: #fff;
  text-decoration: none;
}

.sendBtn {
  width: 100px !important;
  background-color: #fff !important;
  border: none !important;
  margin-right: 20px !important;
}

.sendBtn:hover {
  border: 2px solid #b9b9b95b !important;

  /* width: 100px !important;
  background-color: #fff !important; */
  /* margin-right: 20px !important; */
}

a {
  text-decoration: none !important;
}

.restLink {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}
