.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navBar {
  margin-bottom: 50px;
}

.homeBtn {
  color: #fff;
  text-decoration: none;
}

.infoBtn {
  color: #fff;
  margin-right: 30px;
  text-decoration: none;
}

.loginBtn {
  color: #fff;
  text-decoration: none;
}
