.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  background-color: #0d6dfdea;
  width: 1150px;
  height: 80px;
  margin-bottom: 0px;
  border: 1px solid #b9b9b95b;
}

a {
  text-decoration: none !important;
}

.homeBtn {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 30px;
}


.restBtn {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
}


.loginIcon {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.registerIcon {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}
