.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100vh;
}

.cardTitle {
  margin: 0 0 30px 0;
  color: #a3a3a3;
}

.card {
  height: 440px;
  width: 300px;
  border: 1px solid #b9b9b95b;
  border-radius: 10px;
  padding: 10px 14px;
  overflow: hidden;
}

.card:hover {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 5px 20px #1976D23b;
}

.cardWrapper {
  height: 410px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 4px;
  /* border: 1px solid #b9b9b95b; */
}

.img {
  height: 200px;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
}

.titleBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.title {
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 700;
}

.description {
  width: 100%;
  height: 70px;
  color: #727070;
  overflow: hidden;
  line-height: 22px;
  text-align: justify;
}

.descParagraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottomBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.leftBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 130px;
  height: 80px;
}

.CheckIcon {
  color: #1976D2;
  height: 8px;
}

.checkIconText {
  color: #202020;
  font-size: 12px;
  font-weight: 500;
}

.rightBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 130px;
  height: 80px;
  padding: 2px 0;
}

.restRating {
  margin-bottom: 2px;
}

































/* 

///////////////////

.card {
  height: 440px;
  width: 300px;
  border: 1px solid #b9b9b95b;
  border-radius: 10px;
  padding: 10px;
}

.card:hover {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0px 5px 20px #1976D23b;
}

.cardWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.favorite {
  position: absolute;
  right: 0px;
}


.img {
  max-height: 200px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px;
}

.title {
  color: #a3a3a3;
  font-weight: 700;
  margin-bottom: 10px;
}

.description {
  width: 100%;
  height: 70px;
  color: #727070;
  margin-bottom: 20px;
  overflow: hidden;
}

.descParagraph {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  height: 40px;
}

.restRating {
  position: absolute !important;
  right: 0px;
}

.moreBtn {
  position: absolute !important;
  right: 0px;
  height: 30px;
}

.cardIcon {
  color: #1976D2;
}


.tooltip {
  color: #1976D2;
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #1976d2;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;


  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 220%;
  margin-left: -50px;
  opacity: 0;
  transition: opacity 0.3s;
}


.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
} */
