.infoContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-height: 100vh;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1150px;
  height: 934px;
  gap: 10px;
  margin-top: 20px;
  border: 1px solid #b9b9b95b;
  border-radius: 20px;
  padding: 10px;
}

.infoTitle {
  text-align: center;
  margin: 0 0 30px 0;
  color: #a3a3a3;
}

.back {
  display: flex;
  width: 80px;
  cursor: pointer;
}
