.filterContainer {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1150px;
  height: 70px;
  /* margin-bottom: 15px; */
  /* border: 1px solid #b9b9b95b; */
}

.search {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchInput {
  border: 1px solid #b9b9b95b;
  border-radius: 5px;
  padding: 0 10px 0 40px;
  height: 32px;
  color: #8b8b8b;
}

.searchInput:focus {
  outline: none;
  border-color: #0D6EFD;
}

.searchIcon {
  position: absolute;
  left: 10px;
  z-index: 1;
  color: #8b8b8b;
}
