.restContainer {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  max-height: 100vh;
}

.restTitle {
  text-align: center;
  margin: 0 0 30px 0;
  color: #a3a3a3;
}

.back {
  display: flex;
  cursor: pointer;
}
