.header {
  display: flex;
}

.home,
.login,
.register {
  text-decoration: none;
  color: #1862ec;
  margin-right: 30px;
}



h1 {
  color: #e91010;
}

.emailLabel,
.loginLabel,
.passwordLabel,
.nameLabel,
h2,
h1 {
  color: #1862ec;
  margin-right: 5px;
}

.loginBtn,
.formBtn {
  background-color: #1862ec;
  color: #fff;
  margin-left: 20px;
  border-color: #1862ec;
  border-radius: 5px;
}

.emailInput,
.passwordInput,
.nameInput {
  border-color: #1862ec;
  border-radius: 5px;
}
